<%- include('partials/header'); -%>
    <!--Main Content-->
    <section class="get_in_touch">
        <h1 class="title">get in touch</h1>
        <div class="container" data-aos="fade-right">
                <div class="contact-form row" >
                    <div class="form-field col-lg-6">
                        <input type="text" class="form-control" id="floatingName" name="name" autocomplete="off" >
                        <label for="floatingName">Name</label>
                    </div>
                    <div class="form-field col-lg-6">
                        <input type="email" class="form-control" id="floatingEmail" name="email" autocomplete="off">
                        <label for="floatingEmail">Email address</label>
                    </div>
                    <div class="form-field col-lg-6">
                        <input type="number" class="form-control" id="floatingContact" name="contact" autocomplete="off">
                        <label for="floatingContact" class="form-label">Mobile No.</label>
                    </div>
                    <div class="form-field col-lg-6">
                        <input type="number" class="form-control" id="floatingWhatsapp" name="wap" autocomplete="off">
                        <label for="floatingWhatsapp" class="form-label">WhatsApp No.</label>
                    </div>
                    <div class="form-field col-lg-6">
                        <input type="text" class="form-control" id="floatingCollege" name="college" autocomplete="off">
                        <label for="floatingCollege" class="form-label">College Name</label>
                    </div>
                    <div class="form-field col-lg-6">
                        <input type="text" class="form-control" id="floatingRefrence" name="refrence" autocomplete="off">
                        <label for="floatingRefrence" class="form-label">Refrence</label>
                    </div>
                    <div class="form-field col-lg-6">
                        <input type="text" class="form-control" id="floatingQualification" name="degree" autocomplete="off">
                        <label for="floatingQualification" class="form-label">Highest Qualification</label>
                    </div>
                    <div class="form-field col-lg-6">
                        <select class="form-select" aria-label="Default select" name="intern">
                            <option value="Select Internship Type">Select Internship Type</option>
                            <option value="Web Development Intern">Web Development Intern</option>
                            <option value="HR Intern">HR Intern</option>
                            <option value="Finance Intern">Finance Inten</option>
                            <option value="Social Media Marketing Intern">Social Media Marketing Intern</option>
                        </select>
                    </div>
                    <div class="form-field col-lg-12">
                        <input class="form-control" type="file" id="formFile" accept="application/pdf" name="file"> 
                    </div>
                    <div class="alert alert-dark" role="alert" id="alert">
                    </div>
                    <div class="form-field col-lg-12 text-center" >
                        <button class="btn btn-primary" id="submitbtn">Submit</button>
                    </div>
                </div>
        </div>
    </section>
<%- include('partials/footer'); -%>